<!DOCTYPE html>

<head>
    
    <title>Dance academy</title>
    <link rel="stylesheet" href="../static/dance.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        
        <ul id="list">
            <div id="logo"><img src="static\logo.png">KYSDA</div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Timing</a></li>
        </ui>
    </nav>
    
    <section id="picture">
        <div>Welcome to KYS Dance Academy</div>
        <div id="small">Dance Or KYS</div>
    </section>
    <section id="mission">
        <h1>Our Mission</h1>
        <div id="card1">
            <div id="internal1">
                <h2>Lorem, ipsum dolor.</h2>
                <img src="static\1.png">
            </div>
        </div>
        
        <div id="card2">
            <div id="internal2">
                <h2>Lorem, ipsum dolor.</h2>
                <img src="static\2.png">

            </div>
        </div>
        <div id="card3">
            <div id="internal3">
                <h2>Lorem, ipsum dolor.</h2>
                <img src="static\3.png">

            </div>
        </div>
    </section>
    <section id="sponsers">
        <h2>
            Our Sponsers
        </h2>
        <div id="im">
            <img src="static\logo1.png" alt="" class="sponserimg">
            <img src="static\logo2.png" alt="" class="sponserimg">
            <img src="static\logo3.png" alt="" class="sponserimg">
            <img src="static\logo4.png" alt="" class="sponserimg">

        </div>
    </section>

    <footer id="footer">Copyright © 2023 KYSDA</footer>
</body>
</html>